html {
  height: 100vh;

  --robot-orinentation: 0deg;
  --robot-column: 1;
  --robot-row: 5;
}

body {
  height: 100vh;

  overflow: hidden;
}

/*CONTROL Robotplayground*/
.c-robotplayground {
  background-color: aqua;
}

/*CONTROL Robot*/
.c-robot {
  max-width: max-content;
}

.c-robot img {
  width: 100%;
  height: 100%;

  transform: rotate(var(--robot-orinentation));
}

/*layout*/
.l-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.l-grid--item {
  grid-column: var(--robot-column) / span 1;
  grid-row: var(--robot-row) / span 1;
  place-self: center;
  width: 100%;
  height: 100%;
}